<header>
  <h1>My Budget</h1>
  <h2>A personal-budget management app</h2>
  <h3 id="txt"></h3>

  <!--Image by <a href="https://pixabay.com/users/Clker-Free-Vector-Images-3736/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=308936">Clker-Free-Vector-Images</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=308936">Pixabay</a>-->
  <!-- This is an A11y Change -->
  <img src="assets/homeicon.png" alt="Home Menu Icon" style="width:128px;height:128px;">

</header>
